html {
    font-size: 62.5%;
}

body {
    font-family: var(--dmsans);
    font-weight: 500;
    color: var(--black);
}

a {
    cursor: pointer;
}

img {
    max-width: 100%;
}

.hidden {
    display: none;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
    opacity: 1;
}