html {
    font-size: 62.5%;
}

body {
    font-family: var(--dmsans);
    font-weight: 500;
    color: var(--black);
}

a {
    cursor: pointer;
}

img {
    max-width: 100%;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}