@use 'media-queries' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include lg {
        margin-top: 5.3rem;
        margin-bottom: 8.4rem;
    }

    &__img--size {
        width: 10.3rem;

        @include md {
            width: 15rem;
        }

        @include lg {
            width: 27.7rem;
        }
    }

    &__nav {
        @include lg {
            display: flex;
            font-size: 1.8rem;
            line-height: 2.344rem;
            background-color: transparent;
            gap: 2.5rem;
        }
    }

    &__mobile {
        font-size: 1.5rem;
        line-height: 2.344rem;
        position: absolute;
        z-index: 1;
        top: 8rem;
        right: 0;
        left: 0;
        background-color: var(--primary);
        padding: 2rem 5rem;
        opacity: 0;
        /* Start hidden */
        transform: translateY(-10px);
        /* Start slightly above */
        transition: opacity 0.5s ease, transform 0.5s ease;
        /* Smooth transition */

        @include md {
            font-size: 1.8rem;
        }

        @include lg {
            display: none;
        }
    }

    .mobile__item {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__menu {
        font-size: 1.9rem;
        color: var(--primary);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @include md {
            font-size: 3rem;
        }

        @include lg {
            display: none;
        }
    }

    .menu__icon {
        font-size: 2rem;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .icon__hidden {
        position: absolute;
        opacity: 0;
        transform: rotate(90deg);
    }

    .icon__visible {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.nav {
    &__item {
        background: transparent;
        color: white;
        padding: 1rem;

        @include lg {
            color: var(--black);

            &:hover {
                background: var(--primary);
                color: white;
                border-radius: 0.8rem;
                text-decoration: underline;
            }
        }
    }
}

.menu__visible {
    opacity: 1;
    transform: translateY(0);
}