:root {
    // COLORS
    --primary: #FE142F;
    --black: #232323;
    --green: #279e7a;
    --error: #ff4e60;

    // SHADOWS
    --shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.25);

    // FONTS
    @font-face {
        font-family: 'DMSans';
        src: url(../fonts/DMSans-Regular.ttf) format('truetype');
        font-weight: 400;
    }

    @font-face {
        font-family: 'DMSans';
        src: url(../fonts/DMSans-Italic.ttf) format('truetype');
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: 'DMSans';
        src: url(../fonts/DMSans-Medium.ttf) format('truetype');
        font-weight: 500;
    }

    @font-face {
        font-family: 'DMSans';
        src: url(../fonts/DMSans-MediumItalic.ttf) format('truetype');
        font-weight: 500;
        font-style: italic;
    }

    @font-face {
        font-family: 'DMSans';
        src: url(../fonts/DMSans-Bold.ttf) format('truetype');
        font-weight: 700;
    }

    @font-face {
        font-family: 'DMSans';
        src: url(../fonts/DMSans-BoldItalic.ttf) format('truetype');
        font-weight: 700;
        font-style: italic;
    }

    --dmsans: 'DMSans',
    sans-serif;
}